@model IEnumerable<KylonHome.Models.Temperature>

@{
    ViewData["Title"] = "温湿度数据查询";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-sm-2 col-md-2">
        <!--功能菜單-->
        <fieldset>
            <legend>功能菜單</legend>
        </fieldset>
        <ul class="nav nav-sidebar">
            <li class="active"><a asp-action="Index">預覽 <span class="sr-only">(current)</span></a></li>
            <li><a asp-action="Create">增加新记录...</a></li>
            <li><a asp-action="Export2Excel">导出报表(未開放)</a></li>
        </ul>
        <br />
        <!-- 搜索、查詢功能 -->
        <form asp-action="Index" method="get" class="form-horizontal nav nav-sidebar">
            <fieldset>
                <legend>查詢選項</legend>
            </fieldset>
            <div class="form-group">
                <div class="col-md-8">
                    <label class="control-label">@Html.DisplayNameFor(model => model.DeviceName):</label>
                    <input id="DeviceName" name="DeviceName" type="text" value="" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label class="control-label">
                        @Html.DisplayNameFor(model => model.AcquisitionTime)范围:
                    </label>
                    @Html.TextBox("Begin", null, null, new { @class = "form-control" }) ->
                    @Html.TextBox("End", null, null, new { @class = "form-control" })
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="查  询" class="btn btn-primary" />
                </div>
            </div>
            @*<div class="form-group">
                <div class="col-md-12">
                    <button id="toExcel" name="toExcel" class="btn btn-info">导出报表到Excel</button>
                </div>
            </div>*@
        </form>


    </div>
    <div class="col-sm-10 col-md-10 nav-sidebar">

        <div id="mainChart" style="width: auto;height: 360px;"></div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DeviceName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Temp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Humidity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AcquisitionTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Memo)
                    </th>
                    <th>操  作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Temp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Humidity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcquisitionTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Memo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">详情</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


<script type="text/javascript" src="~/js/echarts.common.min.js"></script>
<script type="text/javascript">
        //基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('mainChart'));
        //指定图表的配置项和数据
        var option={
             title:{
                 text:'温湿度图表'
             },
             tooltip:{},
             legend:{
                 data:['温度','湿度']
              },
             xAxis: {
                data:@Html.Raw(
                      Json.Serialize(
                          Model.OrderBy(t=>t.AcquisitionTime)
                                .Select(t => t.AcquisitionTime.ToString("yyyy/MM/dd HH:mm")
                              )
                          )
                      )
              },
             yAxis:{},
             series:[
                {
                  name:'温度',
                  type:'line',
                  data:@Html.Raw(
                      Json.Serialize(
                          Model.OrderBy(t=>t.AcquisitionTime)
                          .Select(t=>t.Temp)
                          )
                      )
                },
                {
                    name: '湿度',
                    type: 'line',
                    data:@Html.Raw(
                        Json.Serialize(
                            Model.OrderBy(t=>t.AcquisitionTime)
                            .Select(t=>t.Humidity)
                            )
                        )
                }
             ]
        };

        //使用刚指定的配置项和数据显示图表
        myChart.setOption(option);

        // Resize Charts when windows is resize.
        setTimeout(function(){
            window.onresize=function(){
                myChart.resize();
                // otherChart.resize();
            }
        })
</script>
